<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36633435474-dqc82pts3skjbtvpgf61lenloqnnarv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36633435474-dqc82pts3skjbtvpgf61lenloqnnarv3</string>
	<key>API_KEY</key>
	<string>AIzaSyDdpuodG6E1s9FzWambW2tyre-RGmfdRag</string>
	<key>GCM_SENDER_ID</key>
	<string>36633435474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>dissertation-7775f</string>
	<key>STORAGE_BUCKET</key>
	<string>dissertation-7775f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36633435474:ios:4321c4a0d209a1281a2e8b</string>
</dict>
</plist>